@using CommunityToolkit.Maui.Storage;
@using Robocraft2BlockPenSimApp.Shared.Models;
@using Robocraft2BlockPenSimApp.Shared.State;
@using System.Data;
@using System.Text;
@using System.Text.RegularExpressions;

<section id="ResultsSection" class="w-100 h-100 overflow-auto">
    @*Floating buttons to show settings modal or save csv dialogue*@
    <div id="divTableButtons" class="position-sticky" style="z-index: 1045; top: 0; left: 0;">
        <div class="position-relative">
            <div class="position-absolute" style="top: 5px; right: 5px;">
                <button @onclick="ShowSettings" aria-label="Settings" title="Show extra settings." class="btn btn-primary btn-sm px-0" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;">
                    <div style="font-size: 1.4em; transform: translate(0.1ch, -0.2em)">⚙️</div>
                </button>
                <button @onclick="SaveFile" aria-label="Save" title="Save simulation results to a .csv file." class="btn btn-primary btn-sm px-0" style="width: 30px; height: 30px; border-radius: 50%;">
                    <div style="font-size: 1.3em; transform: translate(0, -0.15em)">&#x1f4be;</div>
                </button>
            </div>
        </div>
    </div>
    @*Table showing the simulation results*@
    <table class="table table-striped table-hover table-sm @(Application.Current.RequestedTheme == AppTheme.Dark ? "table-dark" : "")">
        @*Column names rotated for more compact spacing and set to always follow user scrolling through rows*@
        <thead class="position-sticky sticky-top" style="box-shadow: 0 1px 0 @(Application.Current.RequestedTheme == AppTheme.Dark ? "rgba(222, 226, 230, 0.5)" : "black");">
            <tr>
                @for (int i = 0; i < Data.Columns.Count; i++)
                {
                    int idx = i;
                    string name = Data.Columns[idx].ColumnName;

                    <th class="border-0" style="white-space: nowrap; height: @($"{(name.Length + 2) * 0.707}ch");" scope="col" @key="name">
                            <div style="width: @(idx + 1 == Data.Columns.Count ? "12ch" : "5ch"); transform-origin: center left; transform: translate(0ch, 0.707em) rotate(-45deg);">
                            <span>@name</span>
                            <button @onclick="SortDataFactory(name)"
                                class="btn btn-sm p-0 ms-1"
                                style="border-radius: 50%; width: 20px; height: 20px;">
                                    @(State.SortColumn == name ? State.SortDirection == SortDirection.DESC ? "⭣" : "⭡" : "⮁")
                            </button>
                        </div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @*Row data only rendering what is visible on the screen*@
            <Virtualize @key="Data" ItemsProvider="DataRowProvider" Context="Row" >
                <tr @key=Row>
                    @for (int i = 0; i < Row.ItemArray.Length; i++)
                    {
                        int idx = i;
                        string value = GetValueString(idx, Row);

                        if (idx + 3 >= Row.ItemArray.Length)
                        {
                            double val = (double)Row.ItemArray[idx];
                            double percentMax = 0;
                            if (Row.Table.Columns[idx].ColumnName == "Score")
                                percentMax = val / State.MaxScore;
                            if (Row.Table.Columns[idx].ColumnName == "Score / CPU")
                                percentMax = val / State.MaxScorePerCpu;
                            if (Row.Table.Columns[idx].ColumnName == "Score / Weight")
                                percentMax = val / State.MaxScorePerWeight;

                            <td class="position-relative">
                                <div class="position-absolute top-0 start-0 end-0" style="bottom: -1px; background-color: rgba(0,255,0,@(Lerp(0.0, 0.25, percentMax).ToString()));"></div>
                                <div class="position-relative">
                                    <span>@value</span>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>@value</td>
                        }
                    }
                </tr>
            </Virtualize>
        </tbody>
    </table>
</section>

@code {
    [Parameter]
    public PageStateIndex State { get; set; }

    [Parameter]
    public DataTable Data { get; set; }

    [Parameter]
    public Action<string> SortData { get; set; }

    [Parameter]
    public Action PageStateHasChanged { get; set; }

    /// <summary>
    /// Show Settings modal
    /// </summary>
    private void ShowSettings()
    {
        State.ShowSettings = true;
        PageStateHasChanged();
    }

    /// <summary>
    /// Factory creates an action to sort datatable by a specific column name
    /// </summary>
    /// <param name="columnName"></param>
    /// <returns></returns>
    private Action SortDataFactory(string columnName)
    {
        return () => { SortData(columnName); };
    }

    /// <summary>
    /// Linearly interpolates between 2 numbers, using a 3rd number between 0 and 1. Equivelant to: y*(1-s)+x*s
    /// </summary>
    /// <param name="y"></param>
    /// <param name="x"></param>
    /// <param name="s"></param>
    /// <returns></returns>
    private double Lerp(double y, double x, double s) => x * s + y * (1 - s);

    /// <summary>
    /// Saves datatable csv to file location of user's choice.
    /// </summary>
    private async void SaveFile()
    {
        var dataStream = new MemoryStream(Encoding.Default.GetBytes(GetCsvString(Data)));
        var token = new CancellationToken();
        var result = await FileSaver.Default.SaveAsync("RC2-BlockPenSim-Results.csv", dataStream, token);
    }

    /// <summary>
    /// Converts datatable to csv, strictly following RFC 4180 definition. https://datatracker.ietf.org/doc/html/rfc4180
    /// </summary>
    /// <param name="data"></param>
    /// <returns></returns>
    private string GetCsvString(DataTable data)
    {
        var sb = new StringBuilder();
        var regex = new Regex(@"""|,|\r\n");

        var columnNames = new string[data.Columns.Count];
        for (int i = 0; i < columnNames.Length; i++)
        {
            columnNames[i] = data.Columns[i].ColumnName;
            if (regex.IsMatch(columnNames[i]))
            {
                columnNames[i] = $"\"{columnNames[i].Replace(@"""", @"""""")}\"";
            };
        }
        sb.AppendJoin(',', columnNames);

        for (int r = 0; r < data.Rows.Count; r++)
        {
            sb.Append("\r\n");
            var rowStrings = new string[data.Rows[r].ItemArray.Length];
            for (int i = 0; i < rowStrings.Length; i++)
            {
                rowStrings[i] = data.Rows[r].ItemArray[i].ToString();
                if (regex.IsMatch(rowStrings[i]))
                {
                    rowStrings[i] = $"\"{rowStrings[i].Replace(@"""", @"""""")}\"";
                }
            }
            sb.AppendJoin(',', rowStrings);
        }

        return sb.ToString();
    }

    /// <summary>
    /// Converts data row value to string. Truncates doubles to readable lengths.
    /// </summary>
    /// <param name="idx"></param>
    /// <param name="Row"></param>
    /// <returns></returns>
    private string GetValueString(int idx, DataRow Row)
    {
        string value;
        object obj = Row.ItemArray[idx];
        if (obj is double)
        {
            if (idx + 1 == Row.ItemArray.Length)
                value = ((double)obj).ToString("0.00000");
            else
                value = ((double)obj).ToString("0.00");
        }
        else
        {
            value = obj.ToString();
        }
        return value;
    }

    /// <summary>
    /// Data provider for datatable compatability with Blazor Virtualization
    /// </summary>
    /// <param name="request"></param>
    /// <returns></returns>
    private ValueTask<ItemsProviderResult<DataRow>> DataRowProvider(ItemsProviderRequest request)
    {
        try
        {
            var stopIndex = Math.Min(request.StartIndex + request.Count, Data.Rows.Count);
            var retval = new DataRow[stopIndex - request.StartIndex];
            for (int i = request.StartIndex; i < stopIndex; i++)
            {
                retval[i - request.StartIndex] = Data.Rows[i];
            }
            return new ValueTask<ItemsProviderResult<DataRow>>(new ItemsProviderResult<DataRow>(retval, Data.Rows.Count));
        }
        catch (Exception)
        {
            return new ValueTask<ItemsProviderResult< DataRow >> (new ItemsProviderResult<DataRow>(new DataRow[0], 0));
        }
    }
}
